<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153183024494-b6pquvq67mgi3aua4injm3bv9oud28td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153183024494-b6pquvq67mgi3aua4injm3bv9oud28td</string>
	<key>API_KEY</key>
	<string>AIzaSyAU3OFFVKLzs81XwQIj9QdvOQgkPSF78EE</string>
	<key>GCM_SENDER_ID</key>
	<string>153183024494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-ac620</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-ac620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153183024494:ios:390c202b094044b11b7d7f</string>
</dict>
</plist>